@model backEnd.Models.ApplicationRole

@{
    ViewBag.Title = "Details";
}

<div class="section-content">
    <div class="content-head">
        <h4 class="content-title">content-title</h4><!-- /.content-title -->
        <div class="corner-content float-right">
            <button class="content-settings" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings"><i class="fa fa-cog"></i></button>
            <button class="content-refresh" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reload"><i class="fa fa-refresh"></i></button>
            <button class="content-collapse" data-toggle="tooltip" data-placement="top" title="" data-original-title="Collapse"><i class="fa fa-angle-down"></i></button>
            <button class="content-close" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"><i class="fa fa-close"></i></button>
        </div><!-- /.corner-content -->
    </div><!-- /.content-head -->

    <div class="content-details show">
        <div>
            <h4>Roles.</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <h4>List of users in this role</h4>
        @if (ViewBag.UserCount == 0)
        {
            <hr />
            <p>No users found in this role.</p>
        }
        <table class="table">
            @foreach (var item in ViewBag.Users)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                </tr>
            }
        </table>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

        </div>
</div>